h1{
    color: aqua;
    background-color: brown;
}
h2{
    color: blue;
    background-color: beige;
}
h3{
    color: green;
    background-color: cornsilk;
}
h4{
    color: blueviolet;
    background-color: chartreuse;
}